<h1 style="color:blue;text-align: center">Welcome to Vishy's Addition Test</h1>
<h2 class="header1">Vishy you need to "Add" these TWO numbers </h2>
<h3 class="header">Take your time, copy the numbers, add them, carry forward if required and key in the answer </h3>

<style>
  .square {
    height: 300px;
    width: 300px;
    background-color: #999;
    border: outset;
    font-size: 300px;
    font-stretch: normal;
    margin: auto;
  }

  .header1 {
    color: darkred;
    margin: auto;
    text-align: center;
    animation: blinker 1s linear infinite;
  }
  .header {
    color: darkgreen;
    margin: auto;
    text-align: center;
  }
  @keyframes blinker {
    70% {
        opacity: 0;
  }
  }


  .button {
    height: 100px;
    width: 300px;
    background-color: #099;
    border: outset;
    font-size: 100px;
    font-stretch: inherit;
    margin: inherit;
  }

  .answer {
    height: 300px;
    width: 600px;
    background-color: #999;
    border: outset;
    font-size: 300px;
    font-stretch: normal;
    margin: auto;
  }

  .element1 {
    display:inline-block;margin-right:10px;
  }
  .centre {
    display:block;scroll-snap-margin-bottom:10px;
  }
  .mather {
    height: 300px;
    width: 300px;
    background-color: #789;
    font-size: 300px;
    font-stretch: normal;
  }

  .farright {
    height: 50px;
    width: 50px;
    color: black;
    font-size: 50px;
    align-items: flex-end;
  }

</style>
<script type="application/javascript">
  function onLoadSetFocus(){
      document.getElementById('result').focus();
  }
</script>

<script type = "text/javascript">
  function countMyself() {
      if ( typeof countMyself.counter == 'undefined' ) {
          countMyself.counter = 1;
      }

      document.getElementById("questNum").innerHTML=  "Question No. "+countMyself().countMyself();
  }
  
    function checkResult(){
        countMyself();
        hideImages();
        var num1=  document.getElementById('num1').getAttribute('value');
        var num2 = document.getElementById('num2').getAttribute('value');
        var actualRes = document.getElementById('result').value;
        var expectedRes = +num1 + +num2;
        if(actualRes == expectedRes){
            clearRightImage()
            setTimeout(function(){
                location.reload();
            }, 3000);
        }
        else {
            clearWrongImage()
        }

    }

    function clearWrongImage(){
        document.getElementById('wrong').removeAttribute("hidden");
    }
    function clearRightImage(){
        document.getElementById('right').removeAttribute("hidden");
    }
    function hideImages() {
        document.getElementById('wrong').setAttribute("hidden", true);
        document.getElementById('right').setAttribute("hidden", true);
    }

</script>
<body onload="onLoadSetFocus()">
<div class="farright" id="testnum">Maths Test</div>   <p>
<div class="farright" id="questNum"></div>
<div class="square element1" id="num1" value="<%= @random1 %>"><%= @random1 %></div>
<div class="mather element1" id="oper" value="+">+</div>
<div class="square element1" id="num2" value="<%= @random2 %>"><%= @random2 %></div>
<div class="mather element1" id="equal">=</div>




<p>
  <input class="answer element1" id="result" onclick="this.value=''" value=""/>

  <button id="button" class="button" value="Check" onclick="checkResult()">Check</button>
  <img src="/assets/correct.png" height="200" width="200" id="right" hidden/>
  <img src="/assets/wrong.png"  height="200" width="200"  id="wrong" hidden/>

</p>




</body>

<div>
<blockquote>
  <p></p>
  <br>
  <br>
  <br>
  <br>

  <br>  
  <br>
  <br>
  <p></p>
      <br>
  <br><footer>
  <%= link_to('Home',
         {:controller => 'welcome', action_name => 'index'}) %>
   </footer>  
  </blockquote>

</div>                                                              